<br><h4>User list</h4>
<!-- <button (click)="getAllUsers()" class="btn btn-info btn-sm">Get Stock</button> -->
<!-- <div class="container"> -->
  <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Subscription</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile}}</td>
          <td>
            <input class="form-check-input me-2" type="checkbox" 
            value=""
            name="subscription"
            [checked]="user.subscription"
            (change)="manageSubscription(user.id,$event)" />
            {{user.subscription}}</td>
        </tr>
      </tbody>
      <!-- <tfoot>
        <tr>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
      </tfoot> -->
    </table>
<!-- </div> -->