<!-- <p>Welcome to home <i>{{name}}</i></p> -->
<br><h4>Subscription Configuration</h4>
<!-- <div><a href="\stocklist">Subscription Configuration</a></div> -->

<!-- <app-bar-chart></app-bar-chart> -->
<div class="container">
    <form action="/user/registration" method="post">
        <br>    
        <div class="form-check d-flex mb-4">
            <input class="form-check-input me-2" type="checkbox"
           
            value="" id="subscription" name="subscription" checked />
            <label class="form-check-label" for="subscription">
              Subscribe to our newsletter
            </label>
        </div>
        <!-- <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div> -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
            Save
          </button>
    </form>
</div>